<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Portal</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/animate.min.css" />
    <link rel="stylesheet" href="/stylesheets/ionicons.min.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />

    <!--Start of Tawk.to Script-->
    <!-- Tawk.to API Key a23dcedd73ec74be22fa77c3a6d76824fe0598b2 -->
    <!-- hash_mac for george.richardson@martinbrower.com.br -->
    <!-- de7b19def41217d3aa624a1762bb9b872e895654bd814106f3a849051677626a -->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {};
        var Tawk_LoadStart = new Date();

        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5e88f0d735bcbb0c9aadda7b/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <script type="text/javascript">
        Tawk_API.onLoad = function () {
            var hash_mac = sha256_with_internal_key('<%= data.hidEmail %>');

            Tawk_API.setAttributes({
                'name': '<%= data.username %>',
                'email': '<%= data.hidEmail %>',
                'loja': '<%= data.hidStore %>',
                'hash': hash_mac
            }, function (error) { });

        };
    </script>
    <!--End of Tawk.to Script-->
</head>

<body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#one">Intro</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#two">Atuação</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#last">Contato</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="Sobre" href="#aboutModal">Sobre</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header id="first">
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive">LOREM IPSUM DOLOR SIT AMET</h1>
                <h4>Aguarde, nosso novo site está sendo construído!</h4>
                <hr>
            </div>
        </div>
    </header>
    <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="text-center">Lorem ipsum dolor sit amet</h2>
                    <h5 class="text-center">
                        Sic mundus creatus est
                    </h5>
                    <p class="text-justify">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum.
                    </p>
                    <br />
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--scripts loaded here -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/sha256.js"></script>
</body>

</html>